<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loongcheer.advertisement.admanagement.mapper.AdPlatforMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.loongcheer.advertisement.api.vo.AdPlatforVo">
        <id column="adv_platfor_id" property="advPlatforId" />
        <result column="platfor_app_id" property="platforAppId" />
        <result column="adv_platfor_name" property="advPlatforName" />
        <result column="is_enable" property="isEnable" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remake" property="remake" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        adv_platfor_id, platfor_app_id, adv_platfor_name, is_enable, creator, modifier, create_time, update_time, remake
    </sql>

    <select id="queryAdPlatfor" resultMap="BaseResultMap">
        select * from t_ad_platfor order by adv_platfor_id
    </select>

</mapper>
