<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loongcheer.advertisement.admanagement.mapper.AdPlacementMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.loongcheer.advertisement.api.entity.AdPlacement">
        <id column="adv_placement_id" property="advPlacementId" />
        <result column="adv_placement_name" property="advPlacementName" />
        <result column="is_enable" property="isEnable" />
        <result column="app_id" property="appId" />
        <result column="app_key" property="appKey" />
        <result column="adv_type_id" property="advTypeId" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remake" property="remake" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        adv_placement_id, adv_placement_name, is_enable, app_id, app_key, adv_type_id, creator, modifier, create_time, update_time, remake
    </sql>

</mapper>
