<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loongcheer.advertisement.admanagement.mapper.LookupValueMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.loongcheer.advertisement.api.entity.LookupValue">
        <id column="lookup_value_id" property="lookupValueId" />
        <result column="lookup_value_code" property="lookupValueCode" />
        <result column="lookup_value_name" property="lookupValueName" />
        <result column="lookup_type_code" property="lookupTypeCode" />
        <result column="extends_value1" property="extendsValue1" />
        <result column="extends_value2" property="extendsValue2" />
        <result column="extends_value3" property="extendsValue3" />
        <result column="is_enable" property="isEnable" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remake" property="remake" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lookup_value_id, lookup_value_code, lookup_value_name, lookup_type_code, extends_value1, extends_value2, extends_value3, is_enable, creator, modifier, create_time, update_time, remake
    </sql>

</mapper>
